%link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/base.css"}

%h1 Stats Dashboard

%table{class: 'report'}
  %tr
    %th Assunto
    %th Visualizações
    %th Cliques
    %th CTR
    %th Compras
    %th Conversão
  -Report.get_subjects.each do |subject|
    %tr
      %td= subject[:name]
      %td= subject[:views]
      %td= subject[:clicks]
      %td= subject[:ctr]
      %td= subject[:actions]
      %td= subject[:conversion]