%h1 
  Dashboard para:
  =@month

%table{:style=>"border: 1px; width: 70%;"}
  %tr
    %th Assunto
    %th Visualizações
    %th Cliques
    %th CTR
    %th Compras
    %th Conversão
  -PeriodReport.get_subjects(@month).each do |subject|
    %tr
      %td= subject[:name]['subject']
      %td= subject[:views]
      %td= subject[:clicks]
      %td= subject[:ctr]
      %td= subject[:actions]
      %td= subject[:conversion]